<div class="subscribe">
  <h5 class="form-instruction">
    Sign up for your early invite. 
  </h5>
  <div class="row">
    <%= form_for User.new, class: "form-inline", id: "subscribe-form", role: "form" do |u| %>
  
      <%= u.text_field :name, placeholder: 'Name here...', class: 'form-control' %>

      <%= u.text_field :email, placeholder: 'Your email here...', class: 'form-control'%>

      <%= u.submit 'Notify me', class: 'btn btn-danger btn-fill' %>
    <% end %>
  </div>
</div>

<!-- <input type="name" class="form-control transparent" placeholder="Name here...">
        <input type="email" class="form-control transparent" placeholder="Your email here...">
 -->
