<nav class="navbar navbar-transparent navbar-fixed-top" role="navigation">  
      <div class="container">
      <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#"> 
                <i class="fa fa-envelope-o"></i>
                  Contact Us
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
    <div class="main" style="background-image: url('/assets/people.jpg')">
      <div class="container">
        <h1>
          <img alt='the gethr logo' src='/assets/gethr_logo.png' class="logo">
        </h1>
        <div class="content">
          <h4 class="motto">Manage employees and their benefits, easily.</h4>

          <%= render 'signup_form' %>
        
          <%= if User.find_by_email(params[:email]) do |u| %>
            <%= u.email %>
            <% end %>
          <% end %>


        </div>
      </div>
    </div>